* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal !important;
}

body {
    background-color: #1e1e1e;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    height: 100%;
    width: 100%;
}

.opus-logo {
    width: 200px;
    height: 200px;
}

.main-text {
    font-weight: 590;
    font-size: 3rem;
    color: #fff;
}

.secondary-text {
    font-weight: 247;
    font-size: 2rem;
    color: #cecece;
}
